<div class="container">
    <div class="row">
        <div class="col">
            {% if app.user %}
                {% trans with {'%username%': app.user.email} %}
                    hello_username
                {% endtrans %} !
                <a class="btn btn-link btn-sm" href="{{ path('app_logout') }}"> {{ 'account.logout'|trans }} <i
                            class="fas fa-user"></i></a>
            {% else %}
                <a class="btn btn-link btn-sm" href="{{ path('app_login') }}"> {{ 'account.login'|trans }} <i
                            class="fas fa-user"></i></a>
            {% endif %}
        </div>
    </div>
</div>


