{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
   <H1>Create new Category</H1>



    <div class="container">
        <table class="table table-dark">
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ include('category/_form.html.twig') }}</td>
            </tr>
            <td>
                <a class="btn btn-outline-warning" href="{{ path('category_index') }}">back to list</a>
            </td>
            </tbody>
        </table>
    </div>

{% endblock %}