{% extends 'base.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block body %}
    <H1>Edit Tag </H1>

    <div class="container">

        <table class="table table-dark">
            <tbody>
            <tr>
                <td>
                    <a class="btn btn-warning" href="{{ path('tag_index') }}">back to list</a>
                </td>
                <td>
                    {{ include('tag/_delete_form.html.twig') }}
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-dark">
            <tbody>
            <tr>
                <td>
                    <a>{{ include('tag/_form.html.twig', {'button_label': 'Update'}) }}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



{% endblock %}