{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="text-center"><H1>Create new Article</H1></div>
        <a href="{{ path('app_index') }}">Retour à l'accueil</a>
    </div>

    <div class="container">

        <table class="table table-dark">
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ include('article/_form.html.twig') }}
                </td>
                <td>
                    <a href="{{ path('article_index') }}">back to list</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
