{# templates/blog/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Ajouter Category{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn">{{ button_labe |default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}