{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="text-center"><H1>Login please !</H1></div>
        <a href="{{ path('app_index') }}">Retour à l'accueil</a>
    </div>

    <form method="post">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="container">
            <table class="table table-dark">
                <tbody>
                <tr>
                    <td>
                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    </td>
                    <td>
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control"
                               placeholder="Email" required autofocus>
                    </td>
                    <td>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               placeholder="Password"
                               required>
                    </td>
                    <td>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <div class="container">
            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </div>
    </form>

{% endblock %}
