@import "~bootstrap/scss/bootstrap";

body {

    background-color: olive;
}

h1 {

    text-align: center;
}

button {
    background-color: #e0a800;
}

.jumbotron {

    background-color: steelblue;
}

.titre, .sous_titre {
    color: darkkhaki;
}

#footer {

    background-color: #1b1e21;
}
