@import "~bootstrap/scss/bootstrap";

body {

    background-color: lightgrey;
}

h1 {

    text-align: center;
}

.primary{

    background-color: #e0a800;
}


button {
    background-color: #e0a800;
}

